<div class="file container" id="browse-btn">
	<div style="display: inline-block;width: 100%;">
		<div id="desc-txt" style="width: 88%; float: left;"></div>
		<div class="circle-search" style="float:right"><span class="icon-search ">&#xe68c</span></div>
	</div>
	<div class="path" id="value-txt"></div>
	<!-- <div class="opt-label-full" id="value-txt"></div> -->
	<!-- <button id="browse-btn" lang="df">btn_browse</button> -->
</div>