
<div class="time-date">
<!-- <input type="time" class="rule-component" id="time-input" value="<%= model.get('value') %>"> -->
	<div id="time-container">
</div>

<div class="opt-label-full" id="value-txt"></div>