<div class="rule-setting-item rule-status-enabled" id="status-item">
	<div class="rule-setting-tri-line" id="status-content">
		<h4 id="title"><%= title %></h4>
		<div id="desciption"><%= description %></div>
		<div>
			<span id="value"><%= value %></span>
			<span id="require-mark" lang="df">required</span>
		</div>

	</div>
</div>
