<div class="control-panel" id="lock-control">
	<div class="icon"><%= device.get('icon') || '&#xe611' %></div>
	<div id="main_content" style="display:none">
		<div id="control" class="lock-control">
			<div class="battery">
				<div>
					<span id="battery-level">60%</span>
		            <span id="battery-btn" class="battery-icon">&#xe67e</span>
		        </div>
		        <div class="clear"><span class="battery-bar"></span></div>
		   </div>
		   <div class="clear"><div class="cirle-lock"><span id="lock-btn" class="lock-icon disabled">&#xe680</span></div></div>
			<!--&#xe681 for unlock icon-->
		</div>
	</div>
	<div id="main_loader" class="loader"></div>
	<div id="main_message" class="control-msg" style="display:none">
		<p lang="df">msg_device_disabled</p>
		<button id="refresh-btn" lang="df">btn_refresh</button>
	</div>
</div>