
<div class="control-panel" id="speaker-control">
	<div style="height:50px"></div>
	<div id="song-art" class="cover-art control-extended cover-default">&#xe6a8</div>
	<div id="song-nfo" class="song-info">
		<section class="icon-speaker"><%= device.get('icon') || '&#xe62d' %></section>
		<section>
			<span id="title"><%= model.playback.get('name') %></span>
			<span id="artist" class="artist"><%= model.playback.get('artist') %></span>
		</section>
	</div>
	<div id="control" class="speaker-control">
		<section class="extra-icon">
			<div><span id="source-btn">&#xe67d</span></div>
			<div>
				<span id="mute-btn" class="disabled">&#xe673</span>
				<!--<span id="repeat" class="disabled">&#xe679</span>-->
		    	<span id="enlarge-btn" class="disabled">&#xe67a</span>
			</div>
		</section>
		<section class="playback-icon">
			<!-- <span id="prev-btn">&#xe678</span> -->
			<span class="centerFlex">
				<span class="progress-holder">
					<span class="cirle-progress"><input type="text" class="dial" id="play-arc" data-lineCap="round" data-width="160" data-height="160" data-thickness=".2" data-fgcolor="#fa2283" data-bgColor="#dedede" data-readOnly="true"></span>
				</span>
				<span id="play-pause-btn"></span>
			</span>
			<div class="playtime">
				<span id="curr-play-time">1:00</span>
				<span>/</span>
				<span id="total-time"> 5:00</span>
			</div>
			<!-- <span id="next-btn">&#xe677</span> -->
		</section>
		<div class="range-gp"><div id="range" class="range-bar"></div></div>
		<section class="clear">
			<span class="volume-gp"><input id="volume-control" type="range" max="100" min="0"  value="<%= model.volume.get('volume') %>" class="volume"/></span>
		</section>
	</div>
</div>
