<div class="control-panel" id="dimmer-control">
	<div class="icon"><%= device.get('icon') || '&#xe62e' %></div>
	<div id="main_content" style="display:none">
		<div id="control" class="dimmer-control">
			<section class="cirle-power"><span id="power-btn" class="power-icon">&#xe66d</span></section>
			<div class="slide-label">Brightness</div>
			<div class="range-gp"><div id="range" class="range-bar"></div></div>
	        <div class="dimmer-gp">
	        	<div><input id="dimmer-slide" type="range" max="99" min="1" class="dimmer"/></div>
	        </div>
	   	</div> 
	</div>
	<div id="main_loader" class="loader"></div>
	<div id="main_message" class="control-msg" style="display:none">
		<p lang="df">msg_device_disabled</p>
		<button id="refresh-btn" lang="df">btn_refresh</button>
	</div>
</div>