<div class="control-panel" id="popcorn-control">
	<div class="icon"><%= device.get('icon') || '&#xe64c' %></div>
	<div id="main_content" class="popcorn-control">
		<span class="cirle-power" touch="true"><span id="power-btn" class="power-icon">&#xe66d</span></span>
		<span class="title">The Hunger Games: Mockingjay - Part 1 Mockingjay - Part 1 Games: Mockingj Games: Mockingj </span>
		<div class="video-playback">
			<span class="cirle" touch="true"><span class="playback-icon">&#xe6b4</span></span>
			<span class="cirle" touch="true"><span class="playback-icon">&#xe674</span></span>
			<span class="cirle" touch="true"><span class="playback-icon">&#xe673</span></span>
		</div>
		<div class="range-gp"><div id="range" class="range-bar"></div></div>
        <div class="v-volume-gp">
        	<div><input type="range" max="99" min="1" class="v-volume"/></div>
       </div>
	</div>
	<div id="main_loader" class="loader"></div>
	<div id="main_message" class="control-msg" style="display:none">
		<p lang="df">msg_device_disabled</p>
		<button id="refresh-btn" lang="df">btn_refresh</button>
	</div>
</div>
