<div class="control-panel" id="switch-control">
	<div class="icon"><%= device.get('icon') || '&#xe63f' %></div>
	<div id="main_content" style="display:none">
		<div id="control" class="horn-control">
			<section class="cirle-horn-big"><span id="power-btn" class="horn-icon-big disabled">&#xe6a5</span></section>
		</div>
	</div>
	<div id="main_loader" class="loader"></div>
	<div id="main_message" class="control-msg" style="display:none">
		<p lang="df">msg_device_disabled</p>
		<button id="refresh-btn" lang="df">btn_refresh</button>
	</div>
</div>