<div class="control-panel" id="dimmer-control">
	<div class="icon"><%= device.get('icon') || '&#xe62e' %></div>
	<div id="main_content" style="display:none">
		<div id="control" class="dimmer-control">
			<section class="cirle-power"><span id="power-btn" class="power-icon">&#xe66d</span></section>
			<div class="step-control">
				<div class="icon-act">
					<span id="dim">&#xe637</span>
					<span id="brighten">&#xe692</span>
				</div>
			</div>
		</div>
	</div>
	<div id="main_loader" class="loader"></div>
	<div id="main_message" class="control-msg" style="display:none">
		<p lang="df">msg_device_disabled</p>
		<button id="refresh-btn" lang="df">btn_refresh</button>
	</div>
</div>