<div class="control-panel" id="tracker-control">
	<div class="icon"><%= device.get('icon') || '&#xe62a' %></div>
	<div id="main_content" style="display:none">
		<div id="control" class="tracker-control">
			<div class="cirle-big" touch="true"><span id="power-btn" class="control-icon-big disabled">&#xe6a5</span></div>
			<div>
				<div lang="df" class="distance-label">distance</div>
				<div>3.5 meter</div>
			<div>
		</div>
	</div>
	<div id="main_loader" class="loader"></div>
	<div id="main_message" class="control-msg" style="display:none">
		<p lang="df">msg_device_disabled</p>
		<button id="refresh-btn" lang="df">btn_refresh</button>
	</div>
</div>
