

<div class="control-panel" id="termostat-control">
	<!-- <div class="icon"><%= device.get('icon') || '&#xe60f' %></div> -->
	<div id="main_content" class="termostat-control">
		<div id="temperature-view">
			<div class="termostat-cirle">
				<span id="temperature"></span>
				<span touch="true" id="temperature-unit"></span>
			</div>
			<div id="target-temperature-view" style="display:none;">
				<div lang="df" class="target-label">target_temp</div>
				<div class="target-temp">
					<span id="target-temp-dw-btn" touch="true">&#xe637</span>
					<span id="target-temperature"></span>
					<span id="target-temp-up-btn" touch="true">&#xe692</span>
				</div>
			</div>
		</div>
		<div class="tab-gp">
			<div id="temp-mode-btn" class="tab" touch="true">
				<span lang="df">mode</span>
				<span id="temp-mode" lang="df"></span>		
			</div>
			<div class="tab-seperator"></div>
			<div id="fan-mode-btn" class="tab" touch="true">
				<span lang="df">fan</span>
				<span id="fan-mode" lang="df"></span>		
			</div>
		</div>
		<ul id="temp-mode-view" class="list list-padding" style="margin-top:60px;display:none;" ></ul>
		<ul id="fan-mode-view" class="list list-padding" style="margin-top:60px;display:none;" ></ul>
	</div>
	<div id="main_loader" class="loader"></div>

	<div id="main_message" class="control-msg" style="display:none">
		<div style="display:block;height:170px;"></div>
		<p lang="df">msg_device_disabled</p>
		<button id="refresh-btn" lang="df">btn_refresh</button>
	</div>
</div>
