<div class="page-content">
  
</div>
<div class="dark-layer-40" id="confirm-dark" style="display:none;"></div>
<div id="prompt-modal" class="confirm-box" style="display:none;">
  <div class="alert-title" id="myModalLabel" lang="df">remove_device</div>
  <p class="alert-msg" id="modal-body" lang="df">msg_remove</p>
  <div class="hline"></div>
  <div><button id="modal-ok-btn" lang="df">btn_remove</button><button id="modal-cancel-btn" lang="df">btn_cancel</button></div>
</div>

<div class="dark-layer-90" id="success-dark" style="display:none;"></div>
<div id="control-panel" style="display:none;"></div>