<br>
<br>
<div class="icon-sad">&#xe64f</div>
<section>
	<h4 lang="df">no_device_found</div>
	<p lang="df">instruction_wemo_initial_setup_required <a href="https://itunes.apple.com/us/app/wemo/id511376996?mt=8">App Store</a> or <a href="https://play.google.com/store/apps/details?id=com.belkin.wemoandroid">Google Play.</a><br />
instruction_wemo_refer <a href="http://www.belkin.com/us/support-article?articleNum=44527" lang="df">instruction_wemo_manual</a> instruction_wemo_for_more_info</p>
</section>
<br><br>
<div class="btn-1-stretch">
	<button type="button" id="refresh-btn" lang="df">btn_refresh</button>
</div>
<!-- <section>
	<button type="button" id="refresh-btn" lang="df">btn_refresh</button>
</section> -->