
<div class="margin" id="device-list-error">
	<br>
		<h4 lang="df">error_unable_to_get_device_list</h4>
		<p lang="df">error_try_again_later</p>
		<p class="error-ref"><%= reference %></p>
		<section><button lang="df" id="retry-btn">btn_retry</button></section>
</div>