<ul>
<% collection.each(function(model) { %>

	<% if(model.get('name') == selected){%>
		<li class="device-type-item" data-id="<%= model.get('id') %>"><%= model.get('name') %><span class="tick"></span></li>
	 <%} else {%>
	 	<li class="device-type-item" data-id="<%= model.get('id') %>"><%= model.get('name') %></li>
	 <%}%>
<%})%>
</ul>