<div>
	<div id="initial-instruction" class="pair-initial-instruction">
		<br><br>
		<section>
			<h4 lang="df">instruction_wemo_add_device</h4>
			<p lang="df">instruction_wemo_initial_setup_required <a href="https://itunes.apple.com/us/app/wemo/id511376996?mt=8" >App Store</a> or <a href="https://play.google.com/store/apps/details?id=com.belkin.wemoandroid">Google Play</a><br />
			instruction_wemo_refer <a href="http://www.belkin.com/us/support-article?articleNum=44527" lang="df">instruction_wemo_manual</a> instruction_wemo_for_more_info
		</section>
		<br><br>

		<div class="btn-1-stretch">
			<button type="button" id="pair-btn" lang="df">btn_add_device</button>
			<!-- <section>
				<span class="dialog-box" lang="df">let_start<p class="arrow-down"></p></span>
				<button type="button" id="pair-btn" lang="df">btn_add_device</button>
		    </section> -->
		</div>
	</div>
	<div id="list" class="scan-list" style="display:none">
		<br><br>
		<p>
			<span lang="df">choose_device_to_add</span>
			<span class="nav-icon-refresh nav-circle-outline"></span>
		</p>
		<div id="list-container"></div>
	</div>
	<div id="empty" class="pair-initial-instruction" style="display:none">
	</div>
</div>
