<div id="intruction">
	<br>
	<h4 lang="df">instruction_protocol_add_device</h4>
	<p lang="df">instruction_zwave_scan_advice_p1<br><br lang="df">instruction_zwave_scan_advice_p2 </br></p>
	<br><br><br><br>
	<div class="btn-2-stretch">
		<!-- <section>
			<span class="dialog-box" lang="df">let_start<p class="arrow-down"></p></span>
			<button type="button" id="zwave-pair-btn" lang="df">btn_add_device</button>
	    </section>
	    <div id="register-others" lang="df">instruction_zwave_already_register_to_others</div> -->
	    <button type="button" id="register-others" lang="df">remove_device</button>
	    <button type="button" id="zwave-pair-btn" lang="df">btn_add_device</button>
	</div>
</div>
<div id="z-wave-pair" class="z-wave-pair" style="display:none;">
	<h4 lang="df">msg_ready_for_connect</h4>
	<br>
	<div><img src="images/device-zwave.png"></div>
	<h6 lang="df">sample_device_only</h6>
	<span>
		<b>01.</b>
		<p lang="df">msg_zwave_pair_step_p1</p>
		<b>02.</b>
		<p lang="df">msg_zwave_pair_step_p2</p>
	</span>
    <section><button type="button" id="zwave-stop-pair" lang="df">btn_stop</button></section>
</div>

<div id="z-wave-unpair" class="z-wave-unpair" style="display:none;">
	<h4 lang="df">msg_ready_for_connect</h4>
	<br>
	<div><img src="images/device-zwave.png"></div>
	<h6 lang="df">sample_device_only</h6>
	<span>
		<b>01.</b>
		<p lang="df">msg_zwave_unpair_step_p1</p>
		<b>02.</b>
		<p lang="df">msg_zwave_unpair_step_p2</p>
	</span>
    <section><button type="button" id="zwave-stop-unpair" lang="df">btn_stop</button></section>
</div>

<div id="z-wave-detected" class="z-wave-detected"  style="display:none;">
	<br>
	<div class="icon-smile">&#xe001</div>
	<br>
	<h4 lang="df">msg_zwave_device_attemp <span id="zwave-label" lang="df"></span></h4>
	<!--<p>00:88:99:44:22</p>-->
	<br>
	<p lang="df">msg_zwave_detected_device_is <span id="zwave-sub-label" lang="df"></span></p>
</div>

<div id="z-wave-paired" class="z-wave-detected" style="display:none;">
	<br>
	<div class="icon-sad">&#xe64f</div>
	<br>
	<h4 lang="df">msg_fail_to_add</h4>
	<br>
	<p lang="df">msg_zwave_already_paired</p>
    <section>
    	<button type="button" id="exit-options" lang="df">btn_ok</button>
    	<button type="button" id="zwave-retry" lang="df">btn_retry</button>
    </section>
</div>

<div id="z-wave-no-response" class="z-wave-fail" style="display:none;">
	<span id="exit-options" class="icon-close close-circle-outline"></span>
	<br>
	<div class="icon-sad">&#xe64f</div>
	<br>
	<h4 lang="df">msg_zwave_timeout_pairing</h4>
	<br>
	<p lang="df">msg_zwave_timeout_pairing_advice</p>
    <section>
    	<button type="button" id="zwave-unpair" lang="df">btn_remove</button>
    	<button type="button" id="zwave-retry" lang="df">btn_retry</button>
    </section>
</div>

<div id="z-wave-fail" class="z-wave-fail" style="display:none;">
	<br>
	<div class="icon-sad">&#xe64f</div>
	<br>
	<h4 lang="df">msg_fail_to_add</h4>
    <section>
    	<button type="button" id="exit-options" lang="df">btn_ok</button>
    	<button type="button" id="zwave-retry" lang="df">btn_retry</button>
    </section>
</div>
