<div class="login-box" style="display:none">
	<div>
		<form class="form" onsubmit="return false;">
			<h4 lang="df">login_required</h4>
			<% if (typeof requestUsr !== 'undefined' && requestUsr === true) { %>
				<div>
				  	<span class="input-icon-user"></span>
				  	<input type="text" name="user" lang="df" placeholder="user_name" id="user-field" required>
				</div>
			<% } %>
			<% if (typeof requestPwd !== 'undefined' && requestPwd === true) { %>
				<div>
					<span class="input-icon-password"></span>
				  	<input type="password" lang="df" placeholder="password" id="password-field" required>
				</div>
			<% } %>
			<div><button type="button" id="cancel-btn" lang="df">btn_cancel</button><button type="submit" id="login-btn" disabled="disabled" lang="df">btn_login</button></div>
		</form>
	</div>
</div>