<div class="protocol" id="protocol-select"></div>
<div id="protocol-setup">
	<div class="general">
		<span class="dialog-box" lang="df">let_start<p class="arrow-down"></p></span>
		<span class="arrow-line"></span>
		<h4 lang="df">instruction_protocol_choose</h4>
		<p lang="df">instruction_protocol_desc</p>
	</div>
</div>
<div class="dark-layer-90" id="dark" style="display:none;"></div>
<div class="msg" id="dark-content"></div>
<div id="device-added-success" class="device-added-success" style="display:none;">
    <br><br>
    <span class="device-icon-success"></span>
    <div>
	    <h4 lang="df">msg_added_success</h4>
	    <p lang="df">msg_ready_use</p>
	    <section><button type="button" id="success-added-btn" lang="df">btn_ok</button></section>
	</div>
</div>
<div id="device-unpair-success" class="device-added-success" style="display:none;">
    <br><br>
    <span class="device-icon-success"></span>
    <div>
	    <h4 lang="df">msg_unpair_success</h4>
	    <p lang="df">msg_ready_to_pair</p>
	    <section><button type="button" id="success-unpair-btn" lang="df">btn_ok</button></section>
	</div>
</div>
