
  <!-- check rule status-->
      <div class="rule-name-holder">
        <% if(model.get('status') > 0){%><span class="error">&#xe634</span><%}%>
          
          <span class="rule-name"><%= model.get('name') %></span>
      </div>
      <div class="rule-row">
        <%var condTotal = model.get('condition').length;%>
        <%var actionTotal = model.get('execution').length;%>
        <!-- Handle 2 group div clip according to both total -->
        <% if (condTotal<=3){%>
          <span class="iconClip-">
        <%} else if(actionTotal == 3){%>
          <span class="iconClip-0">
        <%} else if(actionTotal == 2){%>
           <span class="iconClip-1">
        <%} else if(actionTotal == 1){%>
           <% if (condTotal<=4){%>
              <span class="iconClip-1">
           <%} else {%>
              <span class="iconClip-2">
          <%}%>
        <%} else{%>
             <span class="iconClip-0">
        <%}%>


          <% for (var i = 0; i < condTotal; i++) {%>
              <span class="icon"><%=model.get('condition').at(i).get('icon')%></span>
          <%};%>
        </span>
        <% if(condTotal > 0) {%>
          <b>&#xe000</b>
        <%}%>

         <!-- Handle 2 group div clip according to both total -->
        <% if (actionTotal<=3){%>
          <span class="iconClip-">
        <%} else if(condTotal == 3){%>
          <span class="iconClip-0">
        <%} else if(condTotal == 2){%>
           <span class="iconClip-1">
        <%} else if(condTotal == 1){%>
           <% if (actionTotal<=4){%>
              <span class="iconClip-1">
           <%} else {%>
              <span class="iconClip-2">
          <%}%>
        <%} else{%>
             <span class="iconClip-0">
        <%}%>

          <% for (var i = 0; i < actionTotal; i++) {%>
            <!-- check device status-->
            <span class="icon"><%=model.get('execution').at(i).get('icon')%></span>
          <%};%>
        </span>

      </div>
       <span style="position:relative; float:right;"><span class="device-option" touch="true"><span class="rule-icon-option rule-cirle-option"></span></span></span>
      <!-- <div class="device-option"><div class="rule-icon-option rule-cirle-option"></div></div>   -->