<div id="device-list" class="device-list"></div>
<a id="next" href="null"></a>
<div class="dark-layer-40" id="option-dark" style="display:none;"></div>
<!-- spacer needed -->
<div class="bottom-bar centerFlex">
	<a href="#/device"><div class="icon-menu-devices icon-menu-on menu-on"><p lang="df">my_devices</p></div></a>
	<a href="#/rule"><div class="icon-menu-rules"><p lang="df">my_rules</p></div></a>
</div>
<div id="device-option-modal" class="option-pane" style="display:none;">
	<div lang="df">more_options<span id="exit-options" class="icon-close close-circle-outline"></span></div>
	<div class="centerFlex" id="option-buttons">
		<!--<span class="icon-option-setting" id="option-button" data-action="control-panel"><p>Control</p></span>-->
		<span class="icon-option-info" id="option-button" data-action="setting"><p lang="df">info</p></span>
		<span class="icon-option-delete" id="option-button" data-action="unpair"><p lang="df">remove</p></span>
	</div>
</div>
<div id="module-content" style="position:absolute; top:0;left:0; border:1px solid red; display:block;"></div>
<!-- <div style="position:absolute; z-index:2000; top:0;left:0; display:none;" id="mockup"></div> -->
