<div>
	<span id="icon" class="status-icon-update"></span>
	<p id="pairing-message" lang="df">Please wait for a moment</p>
	<% if (typeof no_ok_btn === 'undefined') { %><button id="pairing-stop-btn" lang="df">btn_stop</button> <% } %>
</div>
