<div class="top-bar-thick">
	<div>
		<span class="nav-back" id="nav-back-btn">&#xe003</span>
		<span class="seperator"></span>
		<span class="section">
			<%= content %>
		</span>
	</div>
	<div class="arrow"></div>
</div>