<div class="dark-layer-40" id="z-wave-dark" style="display:none;"></div>
<div id="z-wave-unpair" class="z-wave-unpair" style="display:none">
	<h4 lang="df">msg_ready_for_connect</h4>
	<br>
	<div><img src="/images/device-zwave.png"></div>
	<h6 lang="df">sample_device_only</h6>
	<span>
		<span>01.</span>
		<p lang="df">msg_zwave_unpair_step_p1</p>
		<span>02.</span>
		<p lang="df">msg_zwave_unpair_step_p2</p>
	</span>
    <section><button type="button" id="zwave-stop-unpair" lang="df">btn_stop</button></section>
</div>