<div class="rule-control-item clear">
	<div class="opt-label-full">Start</div>
	<div class="time-date">
		<input type="datetime-local" id="start-timestamp" value="<%= start %>">
	</div>
</div>
<div class="rule-control-item clear">
	<div class="opt-label-full">End</div>
	<div class="time-date">
		<input type="datetime-local" id="end-timestamp" value="<%= end %>">
	</div>
</div>