<div class="x10-instruction">
	<br>
	<section>
		<h4 lang="df">instruction_x10_add_device</h4>
		<p lang="df">instruction_x10_manual_pair_advice</p>
	</section>
	<br>
	<div class="icon">
		<span>&#xe686</span>
		<span>&#xe685</span>
	</div>
	<div class="label">
		<span lang="df" id="title-unit">instruction_x10_unit_code</span>
		<span lang="df" id="title-house">instruction_x10_house_code</span>
	</div>
	<!-- <div class="vline-holder"><span class="vline"></span></div> -->
	<div class="input-gp">
		<span class="input" id="unit" data-value="0">-</span>
		<span class="vline-holder"><span class="vline"></span></span>
		<span class="input" id="house" data-value="A">A</span>
	</div>
	<br><br><br>
	 <div class="btn-1-stretch">
		<button id="pair-btn" lang="df">btn_add_device</button>
	</div>
	<br><br><br>
</div>


<ul class="list-float" id="x10-opt-list" style="display:none;margin-top:55px;">

</ul>

<div class="dark-layer-90" id="dark-x10" style="display:none;"></div>
<div id="x10-pair-failed" class="device-pair-fail" style="display:none">
	<br>
	<br>
	<h4 lang="df">msg_fail_to_add</h4>
	<p lang="df">msg_x10_pair_fail_advice</p>
	<section>
		<button type="button" id="exit-options" lang="df">btn_ok</button>
	</section>
</div>

<div id="x10-exist" class="z-wave-detected" style="display:none;">
	<br><br>
	<h4 lang="df">msg_x10_exist</h4>
	<br>
    <section>
    	<button type="button" id="exit-options" lang="df">btn_ok</button>
    </section>
</div>

