<br>
<div id="device-list" class="rule-list centerFlex"></div>
<a id="next" href="null"></a>
<div class="dark-layer-40" id="option-dark" style="display:none;"></div>
<!-- spacer needed -->
<div class="bottom-bar centerFlex">
	<a href="#/device"><div class="icon-menu-devices"><p lang="df">my_devices</p></div></a>
	<a href="#/rule"><div class="icon-menu-rules icon-menu-on menu-on"><p lang="df">my_rules</p></div></a>
</div>

<div id="device-option-modal" class="option-pane" style="display:none;">
	<div lang="df" class="option-title">more_options<span id="exit-options" class="icon-close close-circle-outline"></span></div>
	<div class="centerFlex" id="option-buttons">
		<span class="icon-option-edit" id="option-button" data-action="edit"><p lang="df">edit</p></span>
		<span class="icon-option-disable" id="option-button" data-action="status"><p lang="df">disable</p></span>
		<span class="icon-option-delete" id="option-button" data-action="remove"><p lang="df">remove</p></span>
	</div>
</div>

<div class="rule-option-pane" style="display:none;">
	<div class="option-title" lang="df">add_rule<span id="exit-options" class="icon-close close-circle-outline"></span></div>
    <section>
    	<div lang="df">create_rule</div>
    	<div lang="df">create_rule_desc</div>
    </section>
   <div class="hline"></div>
    <section>
    	<div lang="df">create_scene</div>
    	<div lang="df">create_scene_desc</div>
    </section>
</div>
