<div class="device">
	<span id="error" class="error" style="<%= (!is_error) ? 'display:none' : '' %>">&#xe634</span>
	<div class="icon"><%= icon %></div>
	<span id="label"><%= label %></span>

	<span class="delete-device" style="display:none"><a href="<%= delete_url %>" class="nav-circle-delete icon-delete">&#xe605</a></span>
</div>