<ul class="list" id="upnp-server-list">
<% collection.each(function(model) { %>
	 <li data-id="<%= model.get('id') %>" class="upnp-server-item"><span class="substr70"><%= model.get('name') %></span></li>
<%})%>
</ul>