
<!-- Darien, please enable it when you are ready-->
<!-- <div class="top-bar-thick">
	<div>
		<span class="nav-back" id="nav-back-btn">&#xe003</span>
		<span class="seperator"></span>
		<span class="section">
			<div class="title">Device Info</div>
			<div id="desc" class="desc2">You can name your devices, for example ‘Living room lamp’ and also assign a icon to them</div>
		</span>
	</div>
	<div class="arrow"></div>
</div> -->
<br><br>
<div id="info-page">
	<div id="info-container">
		<!-- embed from template: module.device-info.info.ejs -->
	</div>
	
	<div id="action-btn">
		<button type="button" id="save-and-add-btn" lang="df">btn_add_another</button>
		<button type="button" id="save-btn" lang="df">btn_done</button>
		<!--<button type="button" id="test-device-btn">Test</button>-->
	</div>
</div>
<div id="type-list-container" class="list" style="display:none"></div>
<div class="dark-layer-40" id="icon-picker-dark" style="display:none"></div>
<div class="icon-picker-pane" style="display:none">
	<div lang="df">choose_icon<span id="exit-options" class="icon-close close-circle-outline"></span></div>
	<p id="icon-picker">
		<!-- embed from template: module.icon-chooser.ejs -->
	</p>
</div>