<div class="protocol-pane">
	<div class="protocol-wrapper centerFlex">
	<% list.each(function(value) {
		%>
		<div class="protocol-item<%= value.get('enabled') !== true ? ' disable' : ''%>" data-protocol-id="<%= value.get('id') %>">
			<span data-icon="<%= value.get('icon') %>"></span>
			<p><%= value.get('name') %></p>
			<div></div>
		</div>
		<%
	}) %>
	</div>
</div>