<br>
<div id="rule-content">
	<div id="header-rule-creator"></div>
   <br><br>
   <div class="form">
	   <span class="input-icon-tag"></span>
		<input id="edit-name" type="text" lang="df" placeholder="rule_name" value="<%= config.get('name') %>" maxlength="100" pattern=".{1,100}"  required/>
		<span title="" data="" data-empty="This field is required"></span>
	</div>
	<br>
   <div class="rule-nav">
	    <div><h2 lang="df">if</h2></div>
	    <div>
   			<span class="dialog-box" style="display:none" lang="df">let_start<p class="arrow-down"></p></span>
		</div>
		<div>
			<a href="?section=if&action=list-types" id="if-content" class="nav-circle-add" touch="true"><span class="icon-add">&#xe696</span></a>
			<br><span class="ifthen-desc" id="if-desc" lang="df">select_event</span>
		</div>
	    <div><h2 lang="df">then</h2></div>
		<div>
			<a href="?section=then&action=list-types" id="then-content" class="nav-circle-add" touch="true"><span class="icon-add">&#xe696</span></a>
			<br><span class="ifthen-desc" id="then-desc" lang="df">select_action</span>
		</div>
	</div>
	<div class="clear"><br><br></div>
	<div class="rule-action-gp" id="action-gp">
		<div id="if-container" style="display:none">
			<section lang="df">if</section>
			
			<section id="if"></section>
		</div>

		<div id= "then-container" style="display:none">
		<section lang="df">then</section>
			
			<section id="then"></section>
		</div>
	</div>
	<div class="clear" style="height:50px"></div>
    <div id="action-buttons" class="btn-1-stretch">
		<button type="button" id="rule-done-btn" lang="df">btn_done</button>
	</div>
	<div class="dark-layer-40" id="rule-dark" style="display:none"></div>
</div>
<div id="rule-options" class="list" style="display:none"></div>
<div class="rule-setting" id="device-setting" style="display:none"></div>
<div id="device-explorer" style="display:none">
	<div id="header"></div>
	<div id="content" style="margin-top:60px;"></div>
</div> 
