
<div class="device-empty margin">
	<br>
	<section lang="df">instruction_device_no_item<br lang="df">instruction_device_show_how_it_done</br></section>
	<br>
	<div style="float:left;">
		<span class="num">  01</span>
		<span><img src="images/device-guide-add.png"></span>
		<span>
			<h4 lang="df">add_device</h4>
			<p lang="df">instruction_device_add</p>
		</span>
	</div>
	<br><br>
	<div style="float:right;">
		<span>
			<h4 lang="df">choose_device</h4>
			<p lang="df">instruction_device_choose</p>
		</span>
		<span><img src="images/device-guide-protocol.png"></span>
		<span class="num">02  </span>
	</div>
	<br><br>
	<div style="float:left;">
		<span class="num">  03</span>
		<span><img src="images/device-guide-device-info.png"></span>
		<span>
			<h4 lang="df">manage_device</h4>
			<p lang="df">instruction_device_give_name</p>
		</span>
	</div>
	<section><button lang="df">let_get_start</button></section>
	<p style="height:100px; opacity:0">test text test text test text test text test text test text test text test text test text test text test text test text test text test text </p>
</div>
<div class="dark-layer-70" id="dark-empty" style="display:none"></div>
<div class="device-empty-start" style="display:none;">
	<span class="dialog-box" lang="df">let_start<p class="arrow-down"></p></span>
	<span class="arrow-line"></span>
	<span id="nav-add" class="nav-circle-add nav-icon-add"></span>
</div>
