<div>
	<span id="icon" class="status-icon-update"></span>
	<p id="pairing-message" lang="df">msg_scanning_device</p>
	<button lang="df">btn_stop</button>
</div>

<!--<div id="pairing-message">Scanning for devices</div>
<div id="button-test">lalalalal</div>-->
