<div id="z-wave-pair" class="z-wave-pair container" >
	<h4 lang="df">msg_ready_for_connect</h4>
	<br>
	<div><img src="images/device-zwave.png"></div>
	<h6 lang="df">sample_device_only</h6>
	<span>
		<b>01.</b>
		<p lang="df">msg_zwave_pair_step_p1</p>
		<b>02.</b>
		<p lang="df">msg_zwave_pair_step_p2</p>
	</span>
    <section><button type="button" id="zwave-stop-pair" lang="df">btn_stop</button></section>
</div>