<div id="header"></div>
<div id="setting-activation-toggle" class="setting-content"></div>
<div id="setting-content"></div>
<div id="footer"></div>
<div id="activation-content" class="setting-content"></div>