<div id="intruction" class="pair-initial-instruction">
	<br><br>
	<section>
		<h4 lang="df">instruction_x10_add_device</h4>
		<p lang="df">instruction_x10_scan_advice_p1<br lang="df">instruction_x10_scan_advice_p2</br></p>
	</section>
	<br><br><br>
	<div class="btn-1-stretch">
		<button type="button" id="pair-btn" lang="df">btn_add_device</button>
		<!-- <section>
			<span class="dialog-box" lang="df">let_start<p class="arrow-down"></p></span>
			<button type="button" id="pair-btn" lang="df">btn_add_device</button>
	    </section> -->
	</div>
</div>
<div class="dark-layer-90" id="dark-x10" style="display:none;"></div>
<div id="x10-pair" class="device-pair" style="display:none;">
	<h4 lang="df">msg_ready_for_connect</h4>
	<br>
	<div><img src="images/device-zwave.png"></div>
	<h6 lang="df">sample_device_only</h6>
	<span>
		<b>01.</b>
		<p lang="df">msg_x10_pair_step_p1</p>
		<b>02.</b>
		<p lang="df">msg_x10_pair_step_p2</p>
	</span>
    <section><button type="button" id="stop-pair" lang="df">btn_stop</button></section>
</div>

<div id="x10-setup-required" class="device-pair-fail" style="display:none">
	<br>
	<br>
	<h4 lang="df">msg_fail_to_add</h4>
	<p lang="df">msg_x10_setup_required</p>
    <section>
    	<button type="button" id="exit-options" lang="df">btn_ok</button>
    	<button type="button" id="retry-btn" lang="df">btn_retry</button>
    </section>
</div>

<div id="x10-pair-failed" class="device-pair-fail" style="display:none">
	<br>
	<br>
	<h4 lang="df">msg_fail_to_add</h4>
	<p lang="df">msg_x10_pair_fail_advice</p>
	<section>
		<button type="button" id="exit-options" lang="df">btn_ok</button>
		<button type="button" id="retry-btn" lang="df">btn_retry</button>
	</section>
</div>

<div id="x10-exist" class="z-wave-detected" style="display:none;">
	<br><br>
	<h4 lang="df">msg_x10_exist</h4>
	<br>
    <section>
    	<button type="button" id="exit-options" lang="df">btn_ok</button>
    	<button type="button" id="retry-btn" lang="df">btn_retry</button>
    </section>
</div>

<div id="x10-no-respond" class="z-wave-detected" style="display:none;">
	<br>
	<br>
	<h4 lang="df">msg_zwave_timeout_pairing</h4>
	<br>
	<p lang="df">msg_x10_no_respond</p>
    <section>
    	<button type="button" id="exit-options" lang="df">btn_ok</button>
    	<button type="button" id="retry-btn" lang="df">btn_retry</button>
    </section>
</div>