<!-- left button -->
<!--<div class="nav-left buttons" style="float:left"></div>-->
<!-- title -->
<!-- <div class="nav-header" id="nav-title" lang="df"></div>-->
<!-- right buttons -->
<!-- <div class="nav-right buttons" style="float:right"></div>-->


<!-- <div class="nav-left buttons" style="float:left">
<div class="nav-header" id="nav-title" lang="df">
<div class="nav-right buttons" style="float:right"> -->
<div>
	<span class="nav-left buttons" style="float:left;"></span>
	<span class="seperator"></span>
	<span class="section" style="margin-top:10px; position:relative">
		<div class="nav-header1 title" id="nav-title" lang="df"></div>
		<div class="nav-icon-gp">
			<div class="nav-right buttons" style="float:right"></div>
    	</div> 
	</span>
</div>
<div class="arrow"></div>

