<div class="msg">
	<span id="icon" class="<%= 'status-icon-'+icon %>"></span>
	<h4 lang="df"><%= title %></h4>
	<p lang="df"><%= message %></p>
	<div id="buttons-container">
		<button id="ok-btn" lang="df">btn_ok</button>
	</div>
</div>
