<div class="msg">
	<span id="icon" class="status-icon-error"></span>
	<h4 lang="df"><%= message %></h4>
	<p class="error-ref"><%= reference %></p>
	<button id="ok-btn" lang="df">btn_ok</button>
</div>
