<div class="scene-list-page">
	<!--<div class="sub-nav">-->
		<!-- <div id="filter-option-btn">Show all<span id="indicator" class="glyphicon glyphicon-chevron-down"></span></div> -->
		<!--<div id="add-btn" class="device-cirle-option"></div>
	</div>-->
	<div id="filter-option" style="display:none">
		
	</div>

	<ul id="scene-list" class="row"></ul>
	<div class="tab-spacer"></div>
	<div class="bottom-bar centerFlex">
    	<a href="#/scene"><div class="icon-menu-scene icon-menu-on menu-on" touch="true"><p lang="df">my_scene</p></div></a>
    	<a href="#/rule"><div class="icon-menu-rules" touch="true"><p lang="df">my_rules</p></div></a>
	</div>
</div>

<div id="ext-page"><!-- show other content --></div>