<li class="item" data-id="<%= id %>" touch="true">
	<div class="item-container">
		<span class="item-label"><%= label %></span>
		<% if (typeof zone != 'undefined') { %><br /><span class="zone"><%= zone %></span><% }%>
	</div>
	<span class="check"></span>
</li>