<li id="mover-item-<%= idx %>" data-row="<%= idx+1 %>" data-col="1" data-sizex="1" data-sizey="1">
	<div class="content">
		<div class="icon" data-icon="<%= icon %>"></div>
		<div class="description action-desc"></div>
		<div class="icon-mover device-icon-move"></div>
	</div>
</li>