<ul class="scene-move-list gridster">
</ul>
<div class="button-footer-spacer"></div>
<div class="scene-move-option btn-1-stretch">
	<button type="button" id="move-done-btn" lang="df">btn_done</div>
</div>