<div class="header"></div>
<div class="body">
	<div class="icon-holder" data-icon="<%= this.model.get('icon') %>"></div>
	<p id="scene-edit-icon"><span class="nav-circle-edit nav-icon-edit scene-icon-edit" touch="true"></span></p>
	<div class="form">
		<span class="input-icon-tag">
		<input id="name_txt" type="text" placeholder="scene_name" lang="df" value="<%= (this.model.get('name') == undefined) ? '' : this.model.get('name') %>"></input>
	</div>
	<!--<div>
		<div class="opt-toggle-label" lang="df">passcode_protected</div>
		<div class="opt-toggle"><input type="checkbox" id='lock-toggle' value="<%= this.model.get('passcode_protected') %>"></input></div>
		<div style="clear:both"></div>
	</div> -->
	<div class="actions-summary-list"></div>
	<div class="scene-move-option btn-1-stretch">
		<button type="button" id="scene-done-btn" lang="df">btn_done</div>
	</div>
</div>