<div class="icon-picker-pane scene-icon-picker">
	<div lang="df">
		choose_icon<span id="exit-options" class="exit-icon"><span class="icon-close close-circle-outline"></span></span>
	</div>
	<div id="icon-holder">
		<div id="icon-picker"></div>
	</div>
</div>