<div class="header"></div>
<div class="body">
</div>
<div class="button-footer-spacer"></div>
<div class="footer btn-2-stretch">
	<button type="button" lang="df" id="scene-feedback-close">btn_close</button>
	<button type="button" lang="df" id="scene-feedback-retry-faulty">btn_retry_faulty</button>
</div>