<div class="scene-option-menu">
	<div lang="df" class="title">more_options</div>
	<ul class="centerFlex menu">
		<li class="option icon-option-edit" data-idx="<%= idx %>" data-action="edit" touch="true"><p lang="df">edit</p></li>
		<li class="option icon-option-delete" data-idx="<%= idx %>" data-action="remove" touch="true"><p lang="df">remove</p></li>
		<li class="option icon-option-move" data-idx="<%= idx %>" data-action="move" touch="true"><p lang="df">move</p></li>
	</ul>
	<span class="exit-options" touch="true"><span class="icon-close close-circle-outline" touch="true"></span><span>
</div>