
	<div style="text-align:center">
		<img src="images/intro_scene.png" style="width:90%;margin-top:5%; max-width: 500px;"/><br><br>
		<h4  lang="df" lang="df">scene_intro_title</h4>
		<div class="empty-list" lang="df">scene_intro_txt</div>
	</div>

