<div class="container" id="main-container">
	<div class="nav top-bar-nav">
		
	</div>
	<div class="clear" style="height:49px;"></div>
	<div id="content">
		<!-- content shit -->
	</div>
	<div class="dark-layer-90" id="shell-dark" style="display:none;"></div>
	<div class="dark-layer-90 transparent-layer" id="shell-preload-dark" style="display:none;"></div>
	<div class="device-added-success" id="shell-dark-content" style="display:none"></div>
	<div id="shell-pop-content" class="confirm-box" style="display:none;"></div>
	<div id="loadingIndicator" style="z-index:901"></div>
</div>

