<% var title = title || 'more_options' %>
<div class="option-pane">
	<div class="option-title" lang="df"><%= title %><span id="exit-options" class="exit-options" touch="true"><span class="icon-close close-circle-outline"></span></span></div>
    <div class="centerFlex" id="item-list">
        <!-- item renderer: option-pane.item.ejs -->
    </div>
</div>
