<div>
	<div id="icon" class="<%= 'msg-icon-'+icon %>"></div>
	<div lang="df" class="msg-title"><%= title %></div>
	<div lang="df" class="msg-desc"><%= message %></div>
	<div id="buttons-container">
		<button id="ok-btn" lang="df">btn_ok</button>
	</div>
</div>
