
<div class="confirm-box">
<%
	var ok_btn_label;
	var cancel_btn_label;
%>
<div class="alert-title" lang="df"><%= title %></div>
<p class="alert-msg" lang="df"><%= message %></p>
<div class="hline"></div>
<div><button id="modal-ok-btn" lang="df"><%= ok_btn_label || 'btn_ok' %></button><button id="modal-cancel-btn" lang="df"><%= cancel_btn_label || 'btn_cancel' %></button></div>

</div>