<div>
	<div id="icon" class="msg-icon-error"></div>
	<div lang="df" class="msg-title"><%= message %></div>
	<div class="error-ref msg-sec"><%= reference %></div>
	<button id="ok-btn" lang="df">btn_ok</button>
</div>
