<div class="textarea">
	<textarea id="textinput"class="text rule-component" placeholder="<%= model.get('extra').kbxParamPlaceholder %>" maxlength="<%= model.get('extra').kbxParamMaxLength || -1 %>"><%= model.get('value') %></textarea>
	<span id="error-msg" title="" data="Required at least <%= model.get('extra').kbxParamMinLength || 1 %>" data-empty="No value has being entered"></span>
</div>