<div class="rule-component">
	<div lang="df" class="rule-component-label">date</div>
	<div id="date-value" class="rule-component-value calendar"><%= value.format('DD MMM YYYY') %></div>
	<div lang="df" class="rule-component-label">time</div>
	<div id="time-value" class="rule-component-value time"><%= value.format('hh:mm A') %></div>
</div>