<div class="component-box">
	<!-- <div class="alert-title" lang="df"><%= title %></div> -->
	<div id="datetime-container"></div>
	<div class="hline"></div>
	<div><button id="ok-btn" lang="df">btn_ok</button><button id="cancel-btn" lang="df">btn_cancel</button></div>
</div>