<section class="centerFlex clear">
	<div id="picker"></div>
</section>
<div class="extra-control">
	<div class="label-holder container"><span class="control-label" lang="df">saturation</span></div>
	<div id="saturation-range" class="component-content"></div>
	<div class="label-holder container"><span class="control-label" lang="df">brightness</span></div>
	<div id="brightness-range" class="component-content"></div>
</div>