<div>
	<span class="title"><%= model.get('section').toUpperCase() %><span>
	<span class="icon"><%= model.get('icon') %></span>
</div>
<div class="desc1"><%= method.get('label') %></div>
<div class="desc2"><%= method.get('description') %></div>